__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.db
*.sqlite
.env
alembic/versions/*.pyc
*.pyc
.pytest_cache/
.coverage
htmlcov/
.DS_Store
app/__pycache__/
app/**/__pycache__/
*.log

